
body {
    margin: 0;
    margin-top: 50px;
    background-color: #f9f6f0
}

#navbartitle{ 
    font-family: 'Liu Jian Mao Cao', cursive; 
}


#navbarSupportedContent{ 
    font-family: 'Liu Jian Mao Cao', cursive; 
}

#title {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    font-size: 80px; 
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #ff4500;
    
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

#make{
    background-image: url(make.jpg);
    height: 400px;
    width: 400px;
    border: solid 5.5px;
    border-color: #6f5b3e;
    margin-right: 10px;
}

#find{
    background-image: url(find.jpg);
    height: 400px;
    width: 400px;
    border: solid 5.5px;
    border-color: #6f5b3e;
}


#bagel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0.5vw;
    padding-top: 10px;
}

#map {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0.5vw;
    padding-top: 10px;
}


#text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0.5vw;
    padding-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 24px;
    font-family: arial;  
}

#color{
    margin: 0.5vw;
}

#font{
    margin: 0.5vw;
}

